@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.all {
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.output {
  padding: .6em;
  width: 100%;
  height: 7em;
  display: flex;
  align-items: center;
}

.result {
  font-weight: 200;
  margin: .3em;
  height: 100%;
  width: 100%;
  justify-content: right;
  display: flex;
  align-items: end;
  color: white;
}

button {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  border-radius: 2em;
  margin: 0.3em;
  color: white;
  background-color: #333333;
  transition: all 0.3s ease-out;
}

button:hover {
  background-color: #737373;
  cursor: pointer;
}

#butaoZero {
  width: 6.55em;
  text-align: left;
  padding-left: 1.2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;
  padding: 1em;
  padding-bottom: 1.8em;
  background-color: black;
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.8);
}

.gray {
  background-color: #a5a5a5;
  color: black;
}

.gray:hover {
  background-color: #d9d9d9;
}

.orange {
  background-color: #ff9f0a;
}

.orange:hover {
  background-color: #ffffff;
  color: #ff9f0a;
}

@media screen and (max-width:470px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .all {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .wrapper {
    width: 21.4em;
    height: 33.4em;
    border-radius: 2em;
  }

  button {
    width: 3em;
    height: 3em;
    font-size: 1.3em;
  }

  #butaoZero {
    width: 6.5em;
  }
}