button {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin: 0.3em;
}

button:hover {
  cursor: pointer;
}

#butaoZero {
  width: 6.5em;
}

.wrapper {
  border-radius: 2em;
  width: 350px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  background-color: black;
}
